
.--sidebar--container {
    background-color: black;
}

.--central--container {
    background-color: white;
}

.--chatbar--container {
    background-color: gray;
}

.--main--container {
    height: 100vh;
}


.--sidebar--logo {
    width: 150px;
    height: 150px;
    background: black;
}

/* Events */
.first-event {
    size: 110%;
}



/* Registration elements */
#registration-form {
    display: flex;
    flex-direction: column;
}
#registrationWrapper {
    display: none
}

/* Tasks elements */
#tasksWrapper {
    display: none;
}
#formView {
display: none;
}

#newTaskBtn {
display: block;
}

/* Articles elements */
#articlesWrapper {
    display: none;
}