/* Registration elements */
#registration-form {
    display: flex;
    flex-direction: column;
}
#registrationWrapper {
    display: none
}

/* Tasks elements */
#tasksWrapper {
    display: none;
}
#formView {
display: none;
}

#newTaskBtn {
display: block;
}

/* Articles elements */
#articlesWrapper {
    display: none;
}